STORAGE_APP_NAME doesn't conform to RFC for User-Agent

`STORAGE_APP_NAME` defined in `build.properties` is used in the call to `Storage.Builder(…).setApplicationName(Globals.STORAGE_APP_NAME)`. This is used to construct the `User-Agent` header when making HTTP requests to GCS. The `User-Agent` format is described in [RFC 7231 §5.5.3](https://tools.ietf.org/html/rfc7231#section-5.5.3) and [token EBNF in RFC 7230 §3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6).  and "RVA Media Library" is interpreted as three separate products, "RVA", "Media", and "Library".

Generally, using either upper camel case (e.g., RVAMediaLibrary) or dashes (e.g., RVA-Media-Library or rva-media-library) is preferred.